*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
.gradle/
build/
bin/
out/
*.pdf
*.ipr
*.iws
*.iml
data.json
all.csv
replacements.csv
gradle.properties
local.properties
*.backup
*.tfstate
vars.tf
00_vars.tf
*.json
